[Desktop Entry]
Exec=~/.config/autostart/GoXLR_loopback.sh
Icon=application-x-shellscript
Name=GoXLR_loopback.sh
Type=Application
X-KDE-AutostartScript=true